.main{
    background-color: #dcd7d9;
    position: sticky;
    top: 0;
    z-index: 9;
}
.Img-div{
    display: flex;
    align-items: center;
}
/* .Img-div>div{
    margin-left: -10px;
    margin-top: -5px;
} */
.Img-div>div>h3,.Img-div>div>p{
    font-family: Raleway;
}
.Img-div>div>h3{
    font-size: 24px;
}
.Img-div>div>p{
    margin-top: -23px;
    color: #cab962ed;
    font-size: 14px;
    font-weight: bold;
}
.Img-div > img{
    width: 95px;
}
.Container{
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    transition:  1s;
}
.Button-div{
    display: flex;
    gap: 30px;
    margin-top: 10px;
    align-items: center;
    transition:  1s;
}
.Button-div>a{
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    
}
.Button-div>a:hover{
    cursor: pointer;
    color: #d2c776;
    text-decoration: underline;
}
.Button-div>a:active{
    color: #d2c776;
    text-decoration: underline;
}
.h2{
    display: none;
    align-items: center;
    /* font-size: 23px; */
}
.h21{
    display: none;
    align-items: center;
    
}
.smallscreen{
    position: relative;
    float: right;
    width: 150px;
    display: none;
    height: 100vh;
    background-color: teal;
    transition:all 1s linear ;
}
@media only screen and (max-width: 699px) {
    .h2 {
      display: flex;
    }
    .Button-div{
        display: none;
    }
    .h21{
        display: flex;
    }
    .smallscreen{
        display: block;
    }
  }
  @media only screen and (max-width: 319px){
    .Img-div>div{
        display: none;
    }
  }